<form action="/artists/edit/<%= artist.artist_id %>" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= artist.artist_name %>" required>
    </div>
    <div>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" value="<%= artist.country %>">
    </div>
    <div>
        <label for="birthdate">Birthdate:</label>
        <input type="date" id="birthdate" name="birthdate" value="<%= artist.birthdate ? artist.birthdate.toISOString().split('T')[0] : '' %>">
    </div>
    <div>
        <label for="active_status">Active:</label>
        <input type="checkbox" id="active_status" name="active_status" <%= artist.active_status ? 'checked' : '' %>>
    </div>
    <div>
        <label for="picture_url">Picture URL:</label>
        <input type="url" id="picture_url" name="picture_url" value="<%= artist.picture_url %>">
    </div>
    <button type="submit">Update Artist</button>
</form>