<form action="/albums/edit/<%= album.album_id %>" method="POST">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= album.album_name %>" required>
    </div>
    <div>
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" name="artistName" value="<%= album.artist_name %>" required>
    </div>
    <div>
        <label for="releaseDate">Release Date:</label>
        <input type="date" id="releaseDate" name="releaseDate" value="<%= album.release_date ? album.release_date.toISOString().split('T')[0] : '' %>">
    </div>
    <div>
        <label for="pictureUrl">Album Cover URL:</label>
        <input type="url" id="pictureUrl" name="pictureUrl" value="<%= album.picture_url %>">
    </div>
    <button type="submit">Update Album</button>
</form>